.site-title {
    font-size: 200%;
    margin: 0;
    text-align: center;
    > a {
        text-decoration: none;
        &:visited {
            color: #fff;
        }
    }
    @include breakpoint(small) {
        font-size: 150%;
    }
}
