{{ partial "start.html" . }}

<article class="post-content">

  <header class="post-header">

    <h1 class="post-title">{{ .Title }}</h1>

    <p class="post-meta">
      {{ .Date.Format "2006-01-02 (Monday)" }} |
      {{ .FuzzyWordCount }} words (~{{ .ReadingTime }} minutes reading)
    </p>

    {{ if isset .Params "topics" }}
      {{ if in .Params.topics "Projects" }}
        <p class="post-meta post-leader">
          Things I've been working on.
        </p>
      {{ else if in .Params.topics "Learning" }}
        <p class="post-meta post-leader">
          Notes to myself.
        </p>
      {{ else }}
        <p class="post-meta post-leader">
          Things I used to think, and possibly still do.
        </p>
      {{ end }}
    {{ end }}

  </header>

  {{ .Content }}

  <br>

  {{ with .Params.tech }}
    <h2>Tech mentioned</h2>
    <ul class="tech-list">
      {{ range . }}
        <li class="tech-item">
          <a href="/tech/{{ . | urlize }}/" class="tech-link">{{ . }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

</article>


{{ partial "end.html" . }}
