{{ partial "start.html" . }}

<article class="post-content">

  <header class="post-header">

    <h1 class="post-title">{{ .Title }}</h1>

    <p class="post-meta">
      {{ .Date.Format "2006-01-02 (Monday)" }} |
      {{ .FuzzyWordCount }} words (~{{ .ReadingTime }} minutes)
    </p>

  </header>

  {{ .Content }}

  <br>

  {{ with .Params.tech }}
    <h2>Tech mentioned</h2>
    <ul class="tech-list">
      {{ range . }}
        <li class="tech-item">
          <a href="/tech/{{ . | urlize }}/" class="tech-link">{{ . }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

</article>


{{ partial "end.html" . }}
