// Colours
$brand-colour: #3399FF;
$complement-colour: #217C7E;
$contrast-colour: #9A3334;
$neutral-colour: #F3EFE0;
$text-colour: #333;
$pastel-a: darken(#fed1be, 10%);
$pastel-b: darken(#adddcf, 10%);
$pastel-c: darken(#bfb1d5, 10%);

// Fonts
$title-font: 'Droid Sans', 'Lucida Sans Unicode',
    'Lucida Sans', Geneva, Verdana, sans-serif;
$body-font: 'Droid Serif', Georgia, 'Cambria', 'Times New Roman', Times,
    serif;
