// Colours
$brand-colour: #39f;
$complement-colour: #217c7e;
$contrast-colour: #9a3334;
$neutral-colour: #f3efe0;
$text-colour: #333;
$pastel-a: darken(#fed1be, 10%);
$pastel-b: darken(#adddcf, 10%);
$pastel-c: darken(#bfb1d5, 10%);

// Fonts
$title-font: 'Droid Sans', 'Lucida Sans Unicode',
    'Lucida Sans', Geneva, Verdana, sans-serif;
$body-font: 'Droid Serif', Georgia, 'Cambria', 'Times New Roman', Times,
    serif;
$code-font: 'Droid Sans Mono', monospace;
