.nav {
    width: 100%;
    display: table;
    table-layout: fixed;
    background: #fff;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    display: table-cell;
    text-align: center;
    &:nth-child(3n+1) > a.nav-link {
        background-color: $pastel-a;
        &:hover {
            background-color: darken($pastel-a, 10%);
        }
    }
    &:nth-child(3n+2) > a.nav-link {
        background-color: $pastel-b;
        &:hover {
            background-color: darken($pastel-b, 10%);
        }
    }
    &:nth-child(3n+3) > a {
        background-color: $pastel-c;
        &:hover {
            background-color: darken($pastel-c, 10%);
        }
    }
}

.nav-link {
    display: block;
    padding: 0.5em 0;
    color: #fff;
    text-decoration: none;
    font-size: 123%;
    &:visited {
        color: #fff;
    }
    &:hover {
        color: $text-colour;
    }
}
