.site-title {
    font-size: 200%;
    margin: 0;
    text-align: center;
    text-shadow: $engrave;
    > a {
        text-decoration: none;
        &:visited {
            color: #fff;
        }
    }
}
