.text-diagram {
  font-family: monospace;
  letter-spacing: 1;
  line-height: 1;
  word-spacing: 1;
}

// https://en.wikipedia.org/wiki/Box-drawing_character#DOS
// https://en.wikipedia.org/wiki/Code_page_850
