</div>

<hr>

{{ if .IsPage }}
<p>
  I'm Hugh Grigg, a software developer working in London. I also write about
  <a href="https://www.chineseboost.com/">learning Chinese</a> and
  <a href="https://eastasiastudent.net/">East Asian Studies</a>.
</p>
{{ end }}

<p class="rss-subscribe">
  Subscribe <a href="/index.xml">via RSS</a>, if you like.
</p>

<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif' rel='stylesheet' type='text/css'>

</body>

</html>
