</div>

<hr>

{{ if .IsPage }}
<p>
  I'm Hugh Grigg, a software developer working in London. I also write about
  <a href="https://www.chineseboost.com/">learning Chinese</a> and
  <a href="https://eastasiastudent.net/">East Asian Studies</a>.
</p>
{{ end }}

<h3>Subscribe</h3>

<form action="https://hughgrigg.us15.list-manage.com/subscribe/post?u=fc497c2c8d3066e13466e8e4c&amp;id=5e38c5ec75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
target="_blank">
<label for="mce-EMAIL">Email address:</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
placeholder="you@example.com">
<input type="submit" value="Subscribe" name="subscribe"
id="mc-embedded-subscribe">
</form>

<p class="rss-subscribe">
  Or you can subscribe <a href="/index.xml">via RSS</a>, if you like.
</p>

<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif' rel='stylesheet' type='text/css'>

</body>

</html>
