<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="0rA_sjn1T-GWDn4sROzkSl72lWZ3GHyktuaJO6WXh0Y" />

    <title>
      {{ with index $.Site.Data.capitalisation (.Title | lower) }}
        {{ . }}
      {{ else }}
        {{ .Title }}
      {{ end }}
      
      {{ if not (in .Title "Hugh Grigg") }}| Hugh Grigg {{ end }}
      | London Web Developer
    </title>

    <meta name="description" content="{{ .Description }}">

    <link rel="stylesheet"
      href="/css/{{ index $.Site.Data.rev_manifest "hg.css" }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" type="image/png" href="/img/favicon.png">
  </head>

  <body>

    <div class="header">
      <h2 class="site-title">
        <a href="/">
          Hugh Grigg
        </a>
      </h2>
    </div>

    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a href="/" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="/posts" class="nav-link">
            Posts
          </a>
        </li>
        <li class="nav-item">
          <a href="/work" class="nav-link">
            Work
          </a>
        </li>
      </ul>
  </nav>

  <div class="page">
