.page {
    padding: 1em;
    width: 100%;
    max-width: 800px;
    margin: 1em auto 1em auto;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @include breakpoint(small) {
        margin: 0 auto 0 auto;
    }
}
