a {
  color: $brand-colour;
  font-weight: bolder;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    color: darken($brand-colour, 25%);
  }

  &:visited {
    color: $contrast-colour;

    &:hover {
      color: darken($contrast-colour, 25%);
    }
  }
}
