body {
  background-color: #fff;
  color: $text-colour;
  font-family: $body-font;
  font-size: 19px;
  line-height: 1.7;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  width: 100%;

  @include breakpoint(small) {
    font-size: 16px;
  }
}
