body {
    font-family: $body-font;
    background-color: #fff;
    font-size: 16px;
    color: $text-colour;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

a {
    color: $brand-colour;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
        color: darken($brand-colour, 25%);
    }
    &:visited {
        color: $contrast-colour;
        &:hover {
            color: darken($contrast-colour, 25%);
        }
    }
}
